@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600&display=swap');
*{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}
.menu{
    background-color: rgb(122, 243, 203); 
}
.nav-link{
    color: rgb(146, 96, 194);
}
.parte_2{
    padding-top: 2px;
}
h2{
    text-align: center;
    color: rgb(43, 43, 245);
}
.alinear{
    display: flex;
    justify-content: space-around;
}
.card{
    text-align: justify;
    height: auto;
    width: 600px;
}
#logo{
    padding-top: 7px;
}
.parte_3{
    padding-top: 5px;
}
.centro{
    text-align: center;
    color: cadetblue;
    text-shadow: 12px;
}
a i.fa-facebook {
    color: #1877F2; /* Color para el ícono de Facebook */
  }
  
a i.fa-instagram {
    color: #E4405F; /* Color para el ícono de Instagram */
  }
  
a i.fa-twitter {
    color: #1DA1F2; /* Color para el ícono de Twitter */
  }
a .fa-discord {
  color: #7289DA; /* Color de Discord */
}

a .fa-youtube {
  color: #FF0000; /* Color de YouTube */
}

.redes-sociales{
    display: flex;
    justify-content: space-between;
}
